:root {
  /* Light Mode */
  
  --BgColor_LightMode: #eee;
  --NavbarColor_LightMode: #008997;
  --PColor_LightMode: #517376;
  --TitleColor_LightMode: #037784;
  --BtnColor_LightMode: #74512D;
  --HoverColor_LightMode: #AF8F6F;
  --LinkColor_LightMode: #F8F4E1;
  /* Dark Mode */
  --BgColor_DarkMode: #242d3d; 
  --NavbarColor_DarkMode: #1A202C;        
  --PColor_DarkMode: #ECC94B;         
  --TitleColor_DarkMode: #63B3ED;      
  --BtnColor_DarkMode: #F6AD55;        
  --HoverColor_DarkMode: #A0AEC0;      
  --LinkColor_DarkMode: #9F7AEA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-y: auto;
}
/* About  */ /* Cards and FindTheOne */
.bodyAbout{
  overflow-y: scroll;
  height: 100vh;
  background-color: var(--BgColor_LightMode);
  transition: background-color 0.8s, color 0.3s ease-in-out;
}
.sandBoxContainer{
  background-color: #eee;
}
.dark-mode .bodyAbout,.dark-mode .bodyFindTheOne,.dark-mode .bodyCards ,.dark-mode .bodyLoading,.dark-mode .sandBoxContainer{
  background-color:var(--BgColor_DarkMode) ;
  transition: background-color 0.8s, color 0.3s ease-in;
  }
  .dot-spinner__dot::before{
    background-color: #183153;
    transition: background-color 0.8s, color 0.3s ease-in-out;
  }
  .dark-mode .dot-spinner__dot::before{
    background-color: wheat;;
    transition: background-color 0.8s, color 0.3s ease-in-out;
  }


h1,
h2 {
  color: var(--TitleColor_LightMode);
  
}

p {
  color: var(--PColor_LightMode);
}


nav.container_nav,footer.bodyFooter,.link_list.open {
  background-color: var(--NavbarColor_LightMode);
}
footer.bodyFooter{
  position: fixed;
  bottom: 0;
}

.link {
  color: var(--LinkColor_LightMode);
}

.link:hover {
  color: var(--HoverColor_LightMode);
}
/* DarkMode */
.dark-mode h1 {
  color: var(--TitleColor_DarkMode);
}
.dark-mode h2{
  color: var(--TitleColor_DarkMode);
}
.dark-mode p{
  color: var(--TitleColor_DarkMode);
}
.dark-mode nav.container_nav,.dark-mode footer.bodyFooter,.dark-mode .link_list.open {
  background-color:var(--NavbarColor_DarkMode); 
}
.dark-mode .link{
  color:var(--LinkColor_DarkMode)
}
.dark-mode .link:hover{
  color:var(--HoverColor_DarkMode)
}

